a,
a:focus,
a:hover {
  color: #fff;
}

.modal a,
.modal a:focus,
.modal a:hover {
    color: #007bff;
    text-decoration: underline;
}

html,
body {
  height: 100%;
}

html {
  background: url('images/startup-593327_1920.jpg') no-repeat center center fixed;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: transparent;
}

.pretty {
  background-image: -webkit-linear-gradient(45deg, rgba(9,9,121,0.8) 23%, rgba(111,216,237,0.8) 100%) no-repeat;
  background-image: -o-linear-gradient(45deg, rgba(9,9,121,0.8) 23%, rgba(111,216,237,0.8) 100%);
  background-image: -moz-linear-gradient(45deg, rgba(9,9,121,0.8) 23%, rgba(111,216,237,0.8) 100%);
  background-image: linear-gradient(45deg, rgba(9,9,121,0.8) 23%, rgba(111,216,237,0.8) 100%);
  position: fixed;
  z-index: 1;
}

.cover-container {
  z-index: 2;
}

.cover {
  padding: 0 1.5rem;
  width: 720px;
}

@media (max-width: 720px) {
  .cover {
    width: 100%;
  }
}

.masthead {
  margin-bottom: 2rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

form {
    margin-top: 50px;
    padding: 30px;
    border-radius: 5px;
    text-shadow: none;
    background-color: #fff;
}

label {
    color: #000;
}

.generate {
    margin-top: 20px;
    background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
    background: -o-linear-gradient(45deg, #d5007d, #e53935);
    background: -moz-linear-gradient(45deg, #d5007d, #e53935);
    background: linear-gradient(45deg, #d5007d, #e53935);
    border: none;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    color: #333;
    text-shadow: none;
}

.modal-footer {
    border-top: none;
}

.outro {
    margin-top: 80px;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}